<a href="https://colab.research.google.com/github/SriNavya413/Data-Analyst/blob/main/Day03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.6)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.10)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [2]:
import opendatasets as od

In [3]:
od.download("https://www.kaggle.com/datasets/muhammadroshaanriaz/students-performance-dataset-cleaned")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: servicenowsmtp
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/muhammadroshaanriaz/students-performance-dataset-cleaned
Downloading students-performance-dataset-cleaned.zip to ./students-performance-dataset-cleaned

100%|██████████| 9.94k/9.94k [00:00<00:00, 4.94MB/s]

In [5]:
import pandas as pd
data = pd.read_csv('/content/students-performance-dataset-cleaned/Cleaned_Students_Performance.csv')

In [6]:
data.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,average_score
0,0,group B,bachelor's degree,1,0,72,72,74,218,72.666667
1,0,group C,some college,1,1,69,90,88,247,82.333333
2,0,group B,master's degree,1,0,90,95,93,278,92.666667
3,1,group A,associate's degree,0,0,47,57,44,148,49.333333
4,1,group C,some college,1,0,76,78,75,229,76.333333

In [7]:
import pandas as pd

# Assuming your dataframe is named 'data'

# Calculate mean, median, and variance
numerical_data = data.select_dtypes(include=['number'])  # Select numerical columns
descriptive_stats = numerical_data.agg(['mean', 'median', 'var'])

# Calculate mode
mode = numerical_data.mode().iloc[0]  # Get the first mode for each column

# Calculate range
data_range = numerical_data.max() - numerical_data.min()


# Display the results
print("Descriptive Statistics:\n", descriptive_stats)
print("\nMode:\n", mode)
print("\nRange:\n", data_range)

Descriptive Statistics:
           gender     lunch  test_preparation_course  math_score  \
mean    0.482000  0.645000                 0.358000   66.089000
median  0.000000  1.000000                 0.000000   66.000000
var     0.249926  0.229204                 0.230066  229.918998

        reading_score  writing_score  total_score  average_score
mean        69.169000      68.054000   203.312000      67.770667
median      70.000000      69.000000   205.000000      68.333333
var        213.165605     230.907992  1829.442098     203.271344

Mode:
 gender                       0.0
lunch                        1.0
test_preparation_course      0.0
math_score                  65.0
reading_score               72.0
writing_score               74.0
total_score                204.0
average_score               68.0
Name: 0, dtype: float64

Range:
 gender                       1.0
lunch                        1.0
test_preparation_course      1.0
math_score                 100.0
reading_score               83.0
writing_score               90.0
total_score                273.0
average_score               91.0
dtype: float64

In [8]:
import pandas as pd
import numpy as np

# Assuming your dataframe is named 'data'

# Calculate mean, median, variance, standard deviation, and skewness
numerical_data = data.select_dtypes(include=['number'])
descriptive_stats = numerical_data.agg(['mean', 'median', 'var', 'std', 'skew'])

# Calculate mode
mode = numerical_data.mode().iloc[0]

# Calculate range
data_range = numerical_data.max() - numerical_data.min()

# Detect outliers using IQR method
Q1 = numerical_data.quantile(0.25)
Q3 = numerical_data.quantile(0.75)
IQR = Q3 - Q1
outliers = ((numerical_data < (Q1 - 1.5 * IQR)) | (numerical_data > (Q3 + 1.5 * IQR))).any(axis=1)


# Display the results
print("Descriptive Statistics:\n", descriptive_stats)
print("\nMode:\n", mode)
print("\nRange:\n", data_range)
print("\nOutliers:\n", data[outliers])

Descriptive Statistics:
           gender     lunch  test_preparation_course  math_score  \
mean    0.482000  0.645000                 0.358000   66.089000
median  0.000000  1.000000                 0.000000   66.000000
var     0.249926  0.229204                 0.230066  229.918998
std     0.499926  0.478753                 0.479652   15.163080
skew    0.072155 -0.606955                 0.593282   -0.278935

        reading_score  writing_score  total_score  average_score
mean        69.169000      68.054000   203.312000      67.770667
median      70.000000      69.000000   205.000000      68.333333
var        213.165605     230.907992  1829.442098     203.271344
std         14.600192      15.195657    42.771978      14.257326
skew        -0.259105      -0.289444    -0.299057      -0.299057

Mode:
 gender                       0.0
lunch                        1.0
test_preparation_course      0.0
math_score                  65.0
reading_score               72.0
writing_score               74.0
total_score                204.0
average_score               68.0
Name: 0, dtype: float64

Range:
 gender                       1.0
lunch                        1.0
test_preparation_course      1.0
math_score                 100.0
reading_score               83.0
writing_score               90.0
total_score                273.0
average_score               91.0
dtype: float64

Outliers:
      gender race_ethnicity parental_level_of_education  lunch  \
17        0        group B            some high school      0
59        0        group C            some high school      0
76        1        group E            some high school      1
145       0        group C                some college      0
211       1        group C                some college      0
327       1        group A                some college      0
338       0        group B            some high school      0
466       0        group D          associate's degree      0
596       1        group B                 high school      0
601       0        group C                 high school      1
787       0        group B                some college      1
842       0        group B                 high school      0
980       0        group B                 high school      0

     test_preparation_course  math_score  reading_score  writing_score  \
17                         0          18             32             28
59                         0           0             17             10
76                         0          30             26             22
145                        0          22             39             33
211                        0          35             28             27
327                        0          28             23             19
338                        0          24             38             27
466                        0          26             31             38
596                        0          30             24             15
601                        0          29             29             30
787                        0          19             38             32
842                        1          23             44             36
980                        0           8             24             23

     total_score  average_score
17            78      26.000000
59            27       9.000000
76            78      26.000000
145           94      31.333333
211           90      30.000000
327           70      23.333333
338           89      29.666667
466           95      31.666667
596           69      23.000000
601           88      29.333333
787           89      29.666667
842          103      34.333333
980           55      18.333333